{% extends "default" %}

{% block head_meta %}
    <meta name="robots" content="index, follow">
{% endblock %}

{% block head_styles %}
        <style>
        #go-top {
            display: none;
            bottom: 40px;
            right: 30px;
            width: 40px;
            height: 40px;
            text-align: center;
            border-radius: 10px;
            background-color: #fff;
            position: fixed;
            z-index: 999;
        }
        #go-top > i {
            font-size: 36px;
            line-height: 40px;
        }
        #toc {
            margin-left: 10px;
            margin-bottom: 10px;
            max-width: 350px;
            word-wrap: break-word;
        }
        </style>
{% include "post_js_mermaid_css" %}
{% endblock %}

{% block scripts_after %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-smooth-scroll/1.5.5/jquery.smooth-scroll.min.js"></script>
        <script>$.smoothScroll || document.write('<script src="{{ site.url }}/assets/jquery-smooth-scroll/jquery.smooth-scroll.min.js"><\/script>')</script>
        <script type="text/javascript">
            $('#toc a')
                .each(function(){
                    var id = $(this).attr('href').slice(1);
                    $(this)
                        .smoothScroll({
                            scrollTarget: $('[id="' + id + '"]'),
                            offset: -50,
                            beforeScroll: function(){ /*history.pushState({}, id, "#" + id);*/ }
                        });
                })
                ;
            $('#go-top')
                .on('click', function() {
                    $.smoothScroll({
                        scrollElement: $('body'),
                        scrollTarget: '',
                        beforeScroll: function(){ /*history.pushState({}, "", location.href.replace(location.hash, ''));*/ },
                        afterScroll: function(){ $('body').css('position', ''); }
                    });
                    return false;
                });
            $(window).scroll(function () {
                var scroll   = $(this).scrollTop();
                var visibled = $('#go-top').css('display') == 'block';
                var next_state = $('#go-top').attr('data-next-state');
                if (100 <= scroll && (!visibled || 'hidden' == next_state))
                    $('#go-top')
                        .stop(true, true)
                        .attr('data-next-state', 'visible')
                        .fadeIn('slow', function(){
                            $(this).removeAttr('data-next-state');
                        });
                else if (scroll < 100 && (visibled || 'visible' == next_state))
                    $('#go-top')
                        .stop(true, true)
                        .attr('data-next-state', 'hidden')
                        .fadeOut('slow', function(){
                            $(this).removeAttr('data-next-state');
                        });
            });
            $(window).scroll();
        </script>

        <script type="text/javascript">
            $(document).ready(function(){
                // apply table to bootstrap css
                $('table:not([class])')
                    .addClass('table table-bordered table-hover table-condensed table-striped')
                    .wrap("<div style='width:100%;overflow-x:auto;'></div>");
             });
        </script>

        <script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>

{% include "post_js_sheetrock_js" %}
{% include "post_js_mermaid_js" %}

{% endblock %}

{% block content_wrapper %}
    {% include "breadcrumb" %}

    <article itemscope="itemscope" itemtype="http://schema.org/Article">
        <meta itemscope="itemscope" itemprop="mainEntityOfPage"
              itemType="https://schema.org/WebPage" itemid="http://www.sharkpp.net{{ page.url }}"/>
        <header>
            <h1>{% if page.draft %}<i class="fa fa-pencil-square-o"></i> {% endif %}<span itemprop="headline">{{ page.title }}</span> <small>post</small></h1>
        </header>

{% set toc_items = [ '<h1>' ~ page.title ~ '</h1>' ] %}
{% set toc_items = [  ] %}
{% for toc_item in page.blocks.content | preg_get_all('!(<(h[0-9]).+?>.+?</.+?>)!') %}{% set toc_items = toc_items | merge( [ '' ~ toc_item ] ) %}{% endfor %}
{% if toc_items | length > 1 %}
<div id="toc" class="panel panel-default pull-right">
    <div class="panel-heading text-center">目次</div>
        <div class="panel-body" style="padding: 10px;">
            <ul class="fa-ul">
{% set toc_prev_level = '2' %}
{% for toc_item in toc_items %}
{%   set toc_level = toc_item | preg_replace('!<h(.).*?>.+?</.+?>!', '$1') %}
{%   set toc_title = toc_item | preg_replace('!<.+?>(.+?)</.+?>!', '$1')   %}
{%     if 1 + toc_level < 0 + toc_prev_level %}
{% for toc_level_ in (2+toc_level)..(0+toc_prev_level) %}
            </li></ul></li>
{% endfor %}
{%   endif %}
{%   if not(loop.first) %}
{%     if toc_level < toc_prev_level %}</li></ul></li>{% elseif toc_prev_level < toc_level %}<ul class="fa-ul">{% else %}</li>{% endif %}
{%   endif %}
            <li><i class="fa-li fa fa-paperclip"></i><a href="#{{ toc_title | striptags | replace({' ':'-','(':'',')':'','&amp;':'&'}) | lower | url_encode }}">{{ toc_title | striptags | replace({'&amp;':'&'}) }}</a>
{%   set toc_prev_level = toc_level %}
{% endfor %}
{% for toc_level in 2..9 %}
{%   if toc_level < toc_prev_level %}
            </li></ul></li>
{%   endif %}
{% endfor %}
        </ul>
    </div>
</div>
{% endif %}

<div id="go-top"><i class="fa fa-arrow-circle-o-up fa-3x"></i></div>

        <div itemprop="articleBody">
            {{ page.blocks.content|preg_replace('!<((h[0-9]).+?)>(.+?)</(.+?)>!', '<$1 itemprop="articleSection">$3</$4>')|raw }}
        </div>
        <hr style="border-top: none; border-bottom: none; height: 5px; margin: 10px 0;" />
        <footer>{% set share_button = 1 %}
            {% include "post_footer" %}
        </footer>

        {% if page.previous_post or page.next_post %}
            <hr style="border-top: none; border-bottom: 1px dashed #aaa; margin: 10px 0;" />
            <nav class="article">
                <ul class="list-unstyled row">
                    {% if page.next_post %}
                        <li class="col-md-6 text-left"><a class="next" href="{{ site.url }}{{ page.next_post.url }}" title="{{ page.next_post.title }}"><span class="title"><i class="fa fa-chevron-left"></i> {{ page.next_post.title }}</span></a></li>
                    {% else %}
                        <li class="col-md-6 text-muted"> <i class="fa fa-chevron-left"></i></li>
                    {% endif %}
                    {% if page.previous_post %}
                        <li class="col-md-6 text-right"><a class="previous" href="{{ site.url }}{{ page.previous_post.url }}" title="{{ page.previous_post.title }}"><span class="title">{{ page.previous_post.title }}</span> <i class="fa fa-chevron-right"></i></a></li>
                    {% else %}
                        <li class="col-md-6 text-muted"> <i class="fa fa-chevron-right"></i></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </article>


{% if site.disqus.shortname and site.disqus.shortname != '' %}
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = '{{site.disqus.shortname}}'; // required: replace example with your forum shortname


    {% if page.disqus.identifier  %}var disqus_identifier = '{{page.disqus.identifier}}'; {% endif %}

    {% if page.disqus.title %}var disqus_title = '{{page.disqus.title}}';{% endif %}

    {% if page.disqus.url %}var disqus_url = '{{page.disqus.url}}';{% endif %}

    {% if page.disqus.category_id %}var disqus_category_id = '{{page.disqus.category_id}}';{% endif %}

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the
    <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered byDisqus.</a>
</noscript>
{% endif %}

{% endblock %}
