.tiles-wrap_ li {
  display: block;
  opacity: 1;
  text-align: center;
  list-style-type: none;
  background-color: #fff;
  float: left;
  cursor: pointer;
  width: 200px;
  padding: 4px;
  border: 1px solid #dedede;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.tiles-wrap.animated > div {
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.tiles-wrap > div.wookmark-inactive {
  visibility: hidden;
  height: 0;
  top: 0 !important;
  opacity: 0;
}
