---
layout: default
title: 年月日インデックス
generator: [calendarian]
use:
    - "posts"

---

<div class="dropdown">
  <h2 id="blog-calendar" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {% if page.calendarian.year %}{{ page.calendarian.year }} 年 {% endif %}
    {% if page.calendarian.month %}{{ page.calendarian.month }} 月 {% endif %}
    {% if page.calendarian.day %}{{ page.calendarian.day }} 日{% endif %}
    <small title="年/月カレンダーを表示"><i class="fa fa-calendar"></i> <i class="fa fa-angle-double-down"></i></small>
  </h2>
  <div class="dropdown-menu" aria-labelledby="blog-calendar" style="padding: 1em">
{% include "archive_histories.html" %}
  </div>
</div>

{% for post in page.calendarian.items %}
{% set this_year %}{{ post.date | date("Y") }}{% endset %}
{% set this_month %}{{ post.date | date("m") }}{% endset %}
{% set this_day %}{{ post.date | date("d") }}{% endset %}
  <div>
{% if not page.calendarian.month %}{{ this_month }} 月 {% endif %}
{% if not page.calendarian.day %}{{ this_day }} 日 {% endif %}
    <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
  </div>
{% endfor %}
