{% set min_posts = '' %}
{% set max_posts = '' %}
{% set ym_posts = {} %}
{% for post in data.posts %}
{%   set post_ym = post.date|date("Y-m") %}
{%   if min_posts is empty or post_ym < min_posts %}{% set min_posts = post_ym %}{% endif %}
{%   if max_posts is empty or max_posts < post_ym %}{% set max_posts = post_ym %}{% endif %}
{%   set ym_posts = ym_posts|merge({ (post_ym): 1 }) %}
{% endfor %}
{% set ym_posts = ym_posts|merge({ ("%04d-%02d"|format(page.calendarian.year, page.calendarian.month)): -1 }) %}
{% for y in range((max_posts|slice(0,4)), min_posts|slice(0,4)) %}
<a href="{{ site.url }}/blog/{{ y }}/"
{%   if y == page.calendarian.year %}
   class="bg-primary"
{%   endif %}
  >{{ y }}</a> :
{%   set print_separater = false %}
{%   for m in 1..12 %}
{%     set ym = "%04d-%02d"|format(y, m) %}
{%     if m < 2 %}{% elseif print_separater and ym <= max_posts %}
|
{%     else %}
<span class="invisible">|</span>
{%     endif %}
{%     if min_posts <= ym and ym <= max_posts %}
{%       if not ym_posts[ym] is empty %}
<a href="{{ site.url }}/blog/{{ y }}/{{ "%02d"|format(m) }}/"
{%         if ym_posts[ym] < 0 %}
   class="bg-primary"
{% endif %}
  >{{ "%02d"|format(m) }}</a>
{%         set print_separater = true %}
{%       else %}
<del class="text-muted">{{ "%02d"|format(m) }}</del>
{%       endif %}
{%     else %}
{%       set print_separater = false %}
<span class="invisible">{{ "%02d"|format(m) }}</span>
{%     endif %}
{%   endfor %}
<br />
{% endfor %}
