<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingArchiveCalender">
      <h2 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseArchiveCalender" aria-expanded="true" aria-controls="collapseArchiveCalender">
          カレンダー <i class="fa fa-angle-double-down"></i>
        </a>
      </h2>
    </div>
    <div id="collapseArchiveCalender" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingArchiveCalender">
      <div class="panel-body">
{% set y_posts = {} %}
{% set ym_posts = {} %}
{% set page_year  = page.url|preg_replace('!.*blog/([0-9]+).*!', '$1') %}
{% set page_month = page.url|preg_replace('!.*blog/[0-9]+/([0-9]+).*!', '$1') %}
{% for post in data.posts %}
{%   set  y_posts =  y_posts|merge({ (' ' ~ (post.date | date("Y"))): post.date }) %}
{%   set ym_posts = ym_posts|merge({ (post.date | date("Y-m")): post.date }) %}
{% endfor %}
{% set now_year  = "now"|date("Y") %}
{% set now_month = "now"|date("m") %}
{% for i, y_post_date in y_posts %}
{%   set this_year = y_post_date|date("Y") %}
<a href="{{ site.url }}/blog/{{ this_year }}/">{{ this_year }}</a>
{%   for k in 1..12 %}
{%     set this_month = "%02d"|format(k) %}
{%     set put_month = false %}
{%     for j, ym_post_date in ym_posts %}
{%       set year  = ym_post_date|date("Y") %}
{%       set month = ym_post_date|date("m") %}
{%       if year == this_year %}
{%         if month == this_month %}
{%           if year == page_year and month == page_month %}
 | <a class="bg-primary" href="{{ site.url }}/blog/{{ year }}/{{ month }}/">{{ "%02d"|format(this_month) }}</a>
{%           else %}
 | <a href="{{ site.url }}/blog/{{ year }}/{{ month }}/">{{ "%02d"|format(this_month) }}</a>
{%           endif %}
{%           set put_month = true %}
{%         endif %}
{%       endif %}
{%     endfor %}
{%     if (not put_month) and (this_year < now_year or (this_year == now_year and this_month < now_month)) %}
 | <del class="text-muted">{{ this_month }}</del>
{%     endif %}
{%   endfor %}
<br/>
{% endfor %}
      </div>
    </div>
  </div>
</div>

