{% set breadcrumbs = [] %}
{% set breadcrumbs = breadcrumbs|merge([{ url: site.url ~ "/", caption: 'HOME' }]) %}
{% if page.categories or post.meta.categories %}
    {% set categories = page.categories ? page.categories : post.meta.categories %}
    {% set this_date = page.categories ? page.date : post.date %}
    {% if "ブログ" in categories %}
        {% set this_year  %}{{ this_date | date("Y") }}{% endset %}
        {% set this_month %}{{ this_date | date("m") }}{% endset %}
        {% set this_day   %}{{ this_date | date("d") }}{% endset %}

        {% set breadcrumbs = breadcrumbs|merge([{ caption: this_year  }]) %}
        {% set breadcrumbs = breadcrumbs|merge([{ caption: this_month }]) %}
        {% set breadcrumbs = breadcrumbs|merge([{ caption: this_day   }]) %}
    {% else %}
        {% for category in categories %}
            {% set breadcrumbs = breadcrumbs|merge([{ url: (site.url ~ "/blog/categories/" ~ category) | replace({'//':'/'}), caption: category }]) %}
        {% endfor %}
    {% endif %}
{% elseif "/blog/tags/" in page.url %}
    {% set breadcrumbs = breadcrumbs|merge([{ url: (site.url ~ "/blog/tags") | replace({'//':'/'}), caption: "タグ" }]) %}
{% elseif "/blog/categories/" in page.url %}
    {% set breadcrumbs = breadcrumbs|merge([{ url: (site.url ~ "/blog/categories") | replace({'//':'/'}), caption: "カテゴリ" }]) %}
{% endif %}
{% if "/" != page.url %}
    {% set breadcrumbs = breadcrumbs|merge([{ url: (site.url ~ "/" ~ page.url) | replace({'//':'/'}),
                                              caption: "/blog/tags/"       in page.url ? '"' ~ page.tag ~ '"':
                                                       "/blog/categories/" in page.url ? '"' ~ page.category ~ '"' :
                                                                                         page.title }]) %}
{% endif %}

    <ol class="breadcrumb">
{% for breadcrumb in breadcrumbs %}
        <li temscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"
{% if loop.last %}
            class="active"
{% else %}
           ><a itemprop="url" href="{{ breadcrumb.url }}"
{% endif %}
{% set breadcrumb_icon = "" %}
{% if site.url ~ "/"                == breadcrumb.url %}{% set breadcrumb_icon = "home" %}{% endif %}
{% if site.url ~ "/blog"            == breadcrumb.url %}{% set breadcrumb_icon = "archive" %}{% endif %}
{% if site.url ~ "/blog/tags"       == breadcrumb.url %}{% set breadcrumb_icon = "tags" %}{% endif %}
{% if site.url ~ "/blog/categories" == breadcrumb.url %}{% set breadcrumb_icon = "folder-open" %}{% endif %}
{% if breadcrumb_icon %}
           ><i class="fa fa-{{ breadcrumb_icon }} fa-lg"></i
          >&nbsp;<span itemprop="title">{{ breadcrumb.caption }}</span
{% else %}
           ><span itemprop="title">{{ breadcrumb.caption }}</span
{% endif %}
{% if not loop.last %}
           ></a
{% endif %}
       ></li>
{% endfor %}
    </ol>
