{% if page.js.sheetrock %}

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-sheetrock/1.0.0/dist/sheetrock.min.js"></script>
<script>$('body').sheetrock || document.write('<script src="{{ site.url }}/assets/jquery-sheetrock/dist/sheetrock.min.js"><\/script>')</script>
<script type="text/javascript">
    $(document).ready(function(){
        $('table[data-sheetrock]')
            .each(function(){
                $(this)
                    .sheetrock({
                        url: $(this).attr('data-sheetrock'),
                        callback: function(x, options, response){
                        $('td:contains("http")', $('table[data-sheetrock="'+options.user.url+'"]'))
                            .each(function(){
                                var t = $(this).html().match(/\[(.+)\]\((.+)\)/);
                                $(this).html('<a href="'+t[2]+'">'+t[1]+'</a>');
                            });
                        }
                    })
                    .wrap("<div style='width:100%;overflow-x:scroll;'></div>");
            });
    });
</script>

{% endif %}
ß