---
layout: default
title: 落書き
permalink: graffiti/index.html
date: 2015-05-01 00:00
update: 2017-06-18 11:23
category: ["graffiti"]
graffities:
  -
    caption: favicon
    description: "アバター 2017/06"
    thumbnail: "../images/avatar/pokecom201706_.png"
    download: ["../images/avatar/pokecom201706.png"]
  -
    caption: favicon
    description: 旧アバター
    thumbnail: "../images/avatar/pokecom_.png"
    download: ["../images/avatar/pokecom.png"]
  -
    caption: favicon
    description: 謎生物
    image: "../images/noname/1024x1024.png"
    thumbnail: "../images/noname/196x196.png"
    download: ["../images/noname/favicon.svg"]
    link: ["/blog/2015/06/07/revelation-new-mascot-and-update-favicon.html"]
  -
    caption: 魔法陣16
    image: magic_circle16_1024x1024.png
    download: ["magic_circle16.svg", "magic_circle16.png"]
    link: ["http://www.pixiv.net/member_illust.php?mode=medium&amp;illust_id=19684567"]
  -
    caption: 魔法陣15
    image: magic_circle15_1024x1024.png
    download: ["magic_circle15.svg", "magic_circle15.png"]
    link: ["http://www.pixiv.net/member_illust.php?mode=medium&amp;illust_id=19497976"]
  -
    caption: 魔法陣14
    image: magic_circle14_1024x1024.png
    download: ["magic_circle14.svg", "magic_circle14.png"]
    link: ["http://www.pixiv.net/member_illust.php?mode=medium&amp;illust_id=19326312"]
  -
    caption: 魔法陣13
    image: magic_circle13_1024x1024.png
    download: ["magic_circle13.svg", "magic_circle13.png"]
    link: ["http://www.pixiv.net/member_illust.php?mode=medium&amp;illust_id=19282839"]
  -
    caption: 魔法陣12
    image: magic_circle12_1024x1024.png
    download: ["magic_circle12.svg", "magic_circle12.png"]
    link: ["http://www.pixiv.net/member_illust.php?mode=medium&amp;illust_id=19257229"]
  -
    caption: 魔法陣11
    image: magic_circle11_1024x1024.png
    download: ["magic_circle11.svg", "magic_circle11.png"]
    link: ["http://www.pixiv.net/member_illust.php?mode=medium&amp;illust_id=19080432"]
  -
    caption: 魔法陣10
    image: magic_circle10_1024x1024.png
    download: ["magic_circle10.svg", "magic_circle10.png"]
    link: ["http://www.pixiv.net/member_illust.php?mode=medium&amp;illust_id=18554639"]
  -
    caption: 魔法陣9
    image: magic_circle9_512x512.png
    download: ["magic_circle9.svg", "magic_circle9.png"]
    link: ["http://www.pixiv.net/member_illust.php?mode=medium&amp;illust_id=18518428"]
  -
    caption: 魔法陣8
    image: magic_circle8_512x512.png
    download: ["magic_circle8.svg", "magic_circle8.png"]
    link: ["http://www.pixiv.net/member_illust.php?mode=medium&amp;illust_id=18513934"]
  -
    caption: 魔法陣7
    image: magic_circle7_512x512.png
    download: ["magic_circle7.svg", "magic_circle7.png"]
    link: ["http://www.pixiv.net/member_illust.php?mode=medium&amp;illust_id=18456510"]
  -
    caption: 魔法陣6
    image: magic_circle6_512x512.png
    download: ["magic_circle6.svg", "magic_circle6.png"]
    link: ["http://www.pixiv.net/member_illust.php?mode=medium&amp;illust_id=18357090"]
  -
    caption: 魔法陣5
    image: magic_circle5_512x512.png
    download: ["magic_circle5.svg", "magic_circle5.png"]
    link: ["http://www.pixiv.net/member_illust.php?mode=medium&amp;illust_id=18355252"]
  -
    caption: 魔法陣4
    image: magic_circle4_512x512.png
    download: ["magic_circle4.svg", "magic_circle4.png"]
    link: ["http://www.pixiv.net/member_illust.php?mode=medium&amp;illust_id=18335999"]
  -
    caption: 魔法陣3
    image: magic_circle3_512x512.png
    download: ["magic_circle3.svg", "magic_circle3.png"]
    link: ["http://www.pixiv.net/member_illust.php?mode=medium&amp;illust_id=18212454"]
  -
    caption: 魔法陣2
    image: magic_circle2_512x512.png
    download: ["magic_circle2.svg", "magic_circle2.png"]
    link: ["http://www.pixiv.net/member_illust.php?mode=medium&amp;illust_id=18212317"]
  -
    caption: 魔法陣1
    image: magic_circle_512x512.png
    download: ["magic_circle.svg", "magic_circle.png"]
    link: ["http://www.pixiv.net/member_illust.php?mode=medium&amp;illust_id=18212208"]
  -
    caption: World No.21
    description: 同じ視点で太陽の位置を変えてみました
    image: scenery_w21_301.jpg
    download: ["scenery_w21_301.jpg"]
  -
    caption: World No.21
    description: 同じ視点で太陽の位置を変えてみました
    image: scenery_w21_300.jpg
    download: ["scenery_w21_300.jpg"]
  -
    caption: World No.20
    description: |-
                 上からの視点で山肌を 春山 → 冬山 → 岩山 と変化させて見ました
                 なんだか人の顔に見えなくも無い...
    image: scenery_w20_302.jpg
    download: ["scenery_w20_302.jpg"]
  -
    caption: World No.20
    description: |-
                 上からの視点で山肌を 春山 → 冬山 → 岩山 と変化させて見ました
                 なんだか人の顔に見えなくも無い...
    image: scenery_w20_301.jpg
    download: ["scenery_w20_301.jpg"]
  -
    caption: World No.20
    description: |-
                 上からの視点で山肌を 春山 → 冬山 → 岩山 と変化させて見ました
                 なんだか人の顔に見えなくも無い...
    image: scenery_w20_300.jpg
    download: ["scenery_w20_300.jpg"]
  -
    caption: World No.19
    description: まったくのお遊びで Terragen の文字を地形にしてみました
    image: scenery_w19_300.jpg
    download: ["scenery_w19_300.jpg"]
  -
    caption: World No.18
    description: 山脈をイメージして作りました
    image: scenery_w18_300.jpg
    download: ["scenery_w18_300.jpg"]
  -
    caption: World No.17
    description: 湖がある山をイメージして作りました
    image: scenery_w17_300.jpg
    download: ["scenery_w17_300.jpg"]
  -
    caption: World No.16
    description: 湖がある山をイメージして作りました
    image: scenery_w16_300.jpg
    download: ["scenery_w16_300.jpg"]
  -
    caption: World No.15
    description: |-
                 水脈？がある山をイメージして作りました
                 左下付近は作り物っぽい
    image: scenery_w15_302.jpg
    download: ["scenery_w15_302.jpg"]
  -
    caption: World No.14
    description: 冬山の昼間をイメージして作りました
    image: scenery_w14_300.jpg
    download: ["scenery_w14_300.jpg"]
  -
    caption: World No.13
    description: 曇りの山をイメージして作りました
    image: scenery_w13_300.jpg
    download: ["scenery_w13_300.jpg"]
  -
    caption: World No.10
    description: 同じ地形の別の角度から見た風景です
    image: scenery_w10_301.jpg
    download: ["scenery_w10_301.jpg"]
  -
    caption: World No.10
    description: 同じ地形の別の角度から見た風景です
    image: scenery_w10_300.jpg
    download: ["scenery_w10_300.jpg"]

---

{% block content_wrapper %}
{{ parent() }}

<div>
    <div id="graffiti-content" class="tiles-wrap animated">
{% for graffiti in page.graffities %}
        <div class="thumbnail text-center">
{% if graffiti.thumbnail %}
          <img class="text-center" src="{{ site.url }}/graffiti/{{ graffiti.thumbnail }}" alt="{{ graffiti.caption }}">
{% else %}
          <img class="text-center" src="{{ thumbnail(site.url ~ '/graffiti/' ~ graffiti.image, 196, 196) }}" alt="{{ graffiti.caption }}">
{% endif %}
          <div class="contenthover">
              <div class="toolbar btn-group-vertical pull-right" role="group">
{% if graffiti.image %}
                <a href="{{ site.url }}/graffiti/{{ graffiti.image }}"
                    class="btn btn-sm btn-default"
                    data-lightbox="xxx"
{% if graffiti.description %}
                    title="{{ graffiti.caption }} - {{ graffiti.description }}"
{% else %}
                    title="{{ graffiti.caption }}"
{% endif %}
                    ><i class="fa fa-search-plus fa-2x"></i
{% else %}
                <a href="" style="display: none"
{% endif %}
{% if graffiti.download %}
                ></a
                ><a href="{{ site.url }}/graffiti/{{ graffiti.download[0] }}"
                    class="btn btn-sm btn-default"
                    title="{{ graffiti.download[0] | preg_get('!([^/]+)$!') }} をダウンロード"
                    download="{{ graffiti.download[0] | preg_get('!([^/]+)$!') }}"
                    ><i class="fa fa-save fa-2x"></i
{% endif %}
{% if graffiti.link %}
{% for link in graffiti.link %}
                ></a
                ><a href="{{ link }}"
                    class="btn btn-sm btn-default"
{%   if link | preg_match('!^/!') %}
                    title="もっと詳しく"
                    ><i class="fa fa-plus-circle fa-2x"></i
{%   else %}
                    title="{{ link | preg_replace('!^http://(.+?)/.*$!sm', '$1') }} へ移動"
                    ><i class="fa fa-external-link fa-2x"></i
{%   endif %}
{% endfor %}
{% endif %}
                ></a
                >
              </div>
              <p class="text-left">{{ graffiti.description }}</p>
              <p style="width:100%; height: 300px;"></p>
          </div>
          <div class="caption">
            <h3>{{ graffiti.caption }}</h3>
          </div>
        </div>&nbsp;
{% endfor %}
      </div>
</div>
{% endblock %}

{% block head_styles %}
{{ parent() }}
    <link href="{{ site.url }}/css/wookmark.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block scripts_after %}
{{ parent() }}

        <script src="{{ site.url }}/assets/imagesloaded/imagesloaded.pkgd.min.js"></script>
        <script src="{{ site.url }}/assets/Wookmark-jQuery/wookmark.min.js"></script>
        <script src="{{ site.url }}/assets/js/jquery.contenthover.min.js"></script>

        <script type="text/javascript">
            imagesLoaded('#graffiti-content', function() {
                $('.thumbnail img').contenthover({
                    overlay_background: '#000',
                    //effect: 'slide',
                    //hover_class: 'mybackground',
                    overlay_opacity: 0.8
                });

                $('.thumbnail > .contenthover a[data-lightbox]').remove();
                $('#graffiti-content').wookmark();
                $('.ch_wrapper .contenthover > p').on('click', function(e){
                  $(this).parent().find('a[data-lightbox]').trigger('click');
                });

                //$('[data-toggle="tooltip"]').tooltip();
            });
        </script>
{% endblock %}
