---
layout: default
title: リンク
permalink: link.html
date: 2015-08-30 00:00
update: 2016-09-26 23:40
links:
  -
    category: "Hot Soup Processor"
    links:
      -
        caption: "HSPTV!"
        owner: "ONION software"
        url: "http://hsp.tv/"
        twitter: "onionsoftware"
        cross: false
        banner: 
        comments: "Hot Soup Processor を公開しているサイトです。"
      -
        caption: "それとなくHSP"
        owner: "takazin さん"
#       owner: "begriff さん"
        url: "http://tktk.22web.org/"
#       url: "http://begriff.zxq.net/"
#       url: "http://begriff-00.blogspot.jp/"
        twitter: "takazin_hsp"
#       twitter: "begriff_hsp"
        cross: true
        banner: 
        comments: "HSP界隈でアクティブに活動されています。"
      -
        caption: "ORZ Laboratory"
        owner: "Kain さん"
        url: "http://wikiwiki.jp/orzlabo/"
        twitter: "orzlabo"
        cross: false
        banner: 
        comments: "Easy3Dを使用してネットワーク対戦対応の３Ｄロボットゲームを作られています。"
  -
    category: "ポケコン"
    links:
      -
        caption: "COSMO PATROL"
        owner: "咳めぐ さん"
        url: "http://cosmopatrol.web.fc2.com/"
#       url: "http://www.geocities.jp/neocosmo2000/"
        twitter: "cosmopatrol"
        cross: false
#       cross: true
        banner: 
        comments: "ポケコンだけで、20000Hit 30000Hit しまったすごいページです(移転してカウンタは0になりましたが)。<br/>PC-E200,PC-G800 系のマシン語、BASICのゲームを扱っています。<br/>電卓以外の使い道、ここにあります。"
      -
        caption: "くりこうのホームページ"
        owner: "くりこう さん"
        url: "http://kurikou.sakura.ne.jp/"
#       url: "http://www1.plala.or.jp/kurikou/"
        cross: false
#       cross: true
        banner: 
        comments: '鉄道 と ポケコン と ステレオ写真 のページです。<br/>ポケコンの<span style="color: red">禁断</span>の情報もいっぱいです。'
      -
        caption: "ポケコンの場所"
        owner: "Toshiyuki Hirooka さん"
        url: "http://www.nextftp.com/toshi_home/"
        cross: true
        banner: 
        comments: "メインは、PC-G850系のポケコンです。<br/>ポケコンは、BASIC や Ｃ言語のプログラムがあります。"
#      -
#        caption: "Toshi's HP"
#        owner: "Toshi さん"
#        url: "http://www.r66.7-dj.com/~toshi1/"
#        cross: true
#        banner: 
#        comments: "ポケコン、VB、BitCharG のページです。<br/>タイピングや１行プログラムがあります。"
      -
        caption: "やまやすネット"
        owner: "やまやす さん"
        url: "http://yamayasu.org/"
        cross: true
        banner: 
        comments: "残念ながらポケコン用のゲームなどは無くなってしまいましたがポケコン関連のツールを扱っています。"
#     -
#       caption: "ぽけ ガーデン"
#       owner: "ながい さん"
#       url: "http://www.k2.dion.ne.jp/~nagai/"
#       cross: true
#       banner: 
#       comments: "ポケコンの周辺機器製作や、アセンブラ教室があります。<br/>PCG850Vだけでなく、グラフ電卓・数式処理電卓 Voyage200 も扱っています。"
#     -
#       caption: "アップローダー的サイト"
#       owner: "FM446 さん"
#       url: "http://www.geocities.jp/sin_a_mouse/"
#       cross: true
#       banner: 
#       comments: "PC-G830で動くBASICのゲーム・ツールを扱っています。<br/>ポケコンに繋ぐちょっとしたゲームコントローラーの作り方も公開されています。"
      -
        caption: "秋日和"
        owner: "あきひ さん"
        url: "http://ha9.seikyou.ne.jp/home/akihi/"
        cross: false
        banner: 
        comments: "PC-G850のポート資料がすこしあります。<br/>コミケにぽけこんのほんを出しています。"
      -
        caption: "おちゃめくらぶ"
        owner: "御茶目菜子 さん"
        url: "http://ochameclub.web.fc2.com/"
        cross: false
        banner: 
        comments: "PC-E500 のポケコンサイトの総本山です。<br/>E500 ユーザーの方は、ぜひ一度訪れてください。"
#      -
#        caption: "こばやしひろゆき卿之うゑぶぺゐぢ"
#        owner: "こばやしひろゆき さん"
#        url: "http://www.teu.ac.jp/ohshe/~yagshi/pocketcom/"
#        cross: false
#        banner: 
#        comments: "リンク集、Zaurus を主に扱っているページです。<br/>が、ポケコンののめり込みようもエミュレータを作っているぐらい半端では有りません。"
  -
    category: "その他"
    links:
      -
        caption: "とほほのＷＷＷ入門"
        owner: "杜甫々 さん"
        url: "http://www.tohoho-web.com/www.htm"
        cross: false
        banner: 
        comments: "ホームページ作成関連のサイトでは、情報量・質共にトップに来るページです。<br/>ホームページを開こう・自分で作ろう と思っている人は、必見です。"
#      -
#        caption: "やってはいけない!!　ホームページの掟"
#        owner: "掟子(おきてし) さん"
#        url: "http://www2.plala.or.jp/Cool/okite/"
#        cross: false
#        banner: 
#        comments: "ホームページ開設時に陥りがちな、罠(＝ホームページの掟)について、問題提起をしているサイトです。<br/>一度見ておいたほうがいいのかもしれません。"
#      -
#        caption: "蓄積多趣味人"
#        owner: "あきやん さん"
#        url: "http://www.akiyan.com/"
#        cross: false
#        banner: 
#        comments: "ブログ、CGI を主に扱っています。<br/>はてなダイヤリーを活発に更新されています。<br/>SHARP PC-G850 解析資料 もあります。"

---

{% block content_wrapper %}
{{ parent() }}

{% for category in page.links %}
<div class="page-header">
  <h2>{{ category.category }}</h2>
</div>

{% for link in category.links %}
<h3>{{ link.caption }} <small>{{ link.owner }}</small>{% if link.twitter %} <a href="https://twitter.com/{{ link.twitter }}"><i class="fa-brands fa-x-twitter" aria-hidden="true"></i></a>{% endif %}</h3>

<blockquote>
    <p>{{ link.comments|raw }}</p>
</blockquote>

<div><samp><a href="{{ link.url }}">{{ link.url }}</a></samp> &nbsp;<i class="fa-solid fa-arrow-up-right-from-square"></i></div>

{% endfor %}

{% endfor %}
{% endblock %}
