---
layout: default
title: 作ったもの
permalink: product/index.html
date: 2016-11-27 12:00
products:
  -
    name: "Share button is always beside"
    img: /images/2016_1127_panel_open.png
    source: https://github.com/sharkpp-userscripts/share-button-is-always-beside
    install: https://greasyfork.org/scripts/25164-share-button-is-always-beside/code/share%20button%20is%20always%20beside.user.js
    detail: https://greasyfork.org/ja/scripts/25164-share-button-is-always-beside
    description: |-
      閲覧している全てのページに対して共有ボタンを追加し、簡単にページの共有をすることが出来るスクリプト
    tags: [ Twitter, Facebook, UserScript, JavaScript ]
  -
    name: "Auto close tweet completed window"
    img: /images/2016_1021_actcw_logo.png
    source: https://github.com/sharkpp-userscripts/auto-close-tweet-completed-window
    install: https://greasyfork.org/scripts/24172-auto-close-tweet-completed-window/code/Auto%20close%20tweet%20completed%20window.user.js
    detail: https://greasyfork.org/ja/scripts/24172-auto-close-tweet-completed-window
    description: |-
      ツイート or リツイート 完了時に表示されるウインドウを自動で閉じることが出来るスクリプト
    tags: [ Twitter, UserScript, JavaScript ]
  -
    name: "File Drop Buffer"
    img: /images/2016_0731_FileDropBuffer_droping.png
    source: https://github.com/sharkpp/FileDropBuffer
    download: https://github.com/sharkpp/FileDropBuffer/releases
    detail: /blog/2016/07/31/file-drop-buffer-release.html
    description: |-
      ファイルのドラッグ ＆ ドロップを複数同時に行うソフト
    tags: [ Windows, Mac, Qt ]
  -
    name: "PHP local pastebin"
    img: /images/2015_0919_php_local_pastebin_ss.png
    source: https://github.com/sharkpp/php-local-pastebin
    download: https://github.com/sharkpp/php-local-pastebin/archive/master.zip
    detail: /blog/2015/09/20/publish-php-local-pastebin.html
    description: |-
      phpのビルトインサーバーを使用したローカル用のpastebin的な何か。
    tags: [ php ]
  -
    name: "テキスト変換拡張パック for サクラエディタ"
    source: https://github.com/sharkpp/sakura-editor-plugin-text-convert-extension-pack
    download: https://github.com/sharkpp/sakura-editor-plugin-text-convert-extension-pack/archive/master.zip
    detail: /blog/2015/09/05/release-sakura-editor-plugin-text-convert-extension-pack.html
    description: |-
      選択した「XXXに変換」機能を追加するサクラエディタ用のプラグインです。
      選択した文字列に様々な変換を行うことができます。
    tags: [ サクラエディタ ]
  -
    name: "Sculpin Calendarian Bundle"
    source: https://github.com/sharkpp/sculpin-calendarian-bundle
    download: https://packagist.org/packages/sharkpp/sculpin-calendarian-bundle
    detail: /blog/2015/08/09/create-sculpin-blog-archive-date-directory-bundle.html
    description: |-
      Sculpin でブログアーカイブの日付ごとにポストをまとめたページを作るバンドルです。
    tags: [ Sculpin, php ]
  -
    name: "calculation of selection length"
    source: https://github.com/sharkpp-userscripts/calculation-of-selection-length
    install: https://greasyfork.org/scripts/9647-calculation-of-selection-length/code/calculation%20of%20selection%20length.user.js
    detail: https://greasyfork.org/ja/scripts/9647-calculation-of-selection-length
    description: |-
      選択した文字列の長さを調べ画面に表示することが出来るスクリプト
    tags: [ UserScript, JavaScript ]
  -
    name: "Tumblr. megaeditor extention"
    img: https://raw.githubusercontent.com/sharkpp-userscripts/tumblr-megaeditor-extention/master/img/append_select_all.png
    source: https://github.com/sharkpp-userscripts/tumblr-megaeditor-extention
    install: https://greasyfork.org/scripts/6878-tumblr-megaeditor-extention/code/Tumblr%20megaeditor%20extention.user.js
    detail: https://greasyfork.org/ja/scripts/6878-tumblr-megaeditor-extention
    description: |-
      Tumblr.™ の複数投稿編集ツールへ機能の追加を行うスクリプト
    tags: [ Tumblr, UserScript, JavaScript ]
  -
    name: "Tumblr. quiet your post"
    img: https://raw.githubusercontent.com/sharkpp-userscripts/tumblr-quiet-your-post/master/img/mine_post_after.png
    source: https://github.com/sharkpp-userscripts/tumblr-quiet-your-post
    install: https://greasyfork.org/scripts/6721-tumblr-quiet-your-post/code/Tumblr%20quiet%20your%20post.user.js
    detail: https://greasyfork.org/ja/scripts/6721-tumblr-quiet-your-post
    description: |-
      Tumblr.™ のダッシュボードで自分に関係するポストを小さくするスクリプト
    tags: [ Tumblr, UserScript, JavaScript ]
  -
    name: "Tumblr. blog icon to bottom"
    source: https://github.com/sharkpp-userscripts/tumblr-blog-icon-to-bottom
    install: https://greasyfork.org/scripts/8583-tumblr-blog-icon-to-bottom/code/Tumblr%20blog%20icon%20to%20bottom.user.js
    detail: https://greasyfork.org/ja/scripts/8583-tumblr-blog-icon-to-bottom
    description: |-
      Tumblr.™ の投稿フォームのブログアイコンの位置を下部に変えるユーザースクリプト
    tags: [ Tumblr, UserScript, JavaScript ]
  -
    name: "Tumblr. extend shortcut key"
    img: /images/2014_1123_reblog-button.png
    source: https://github.com/sharkpp-userscripts/tumblr-extend-shortcut-key
    install: https://greasyfork.org/scripts/6588-tumblr-extend-shortcut-key/code/Tumblr%20extend%20shortcut%20key.user.js
    detail: /blog/2014/11/23/released-tumblr-extend-shortcut-key.html
    description: |-
      Tumblr.™ のダッシュボードで使用できるショートカットキーを追加するスクリプト
    tags: [ Tumblr, UserScript, JavaScript ]
  -
    name: "除夜の鐘"
    img: /images/2011_0101_joya_no_kane.jpg
    source: https://github.com/sharkpp/joya_no_kane
    download: /files/bells100.zip
    detail: /blog/2015/12/31/joya-no-kane-for-blog-parts.html
    description: |-
      除夜の鐘をつくだけのプログラム
    tags: [ HSP, Windows, HTML, HTML5 ]
  -
    name: "CommentBox パッケージ for FuelPHP"
    img: https://raw.githubusercontent.com/sharkpp/fuel-commentbox/master/docs/img/example_ja.png
    source: https://github.com/sharkpp/fuel-commentbox
    download: https://github.com/sharkpp/fuel-commentbox/archive/master.zip
    detail: 
    description: |-
      簡単に FuelPHP に埋め込まれたコメントエリアを追加することができるプラグインです。
    tags: [ FuelPHP, php ]
  -
    name: "FuelPHP 日本語言語パッケージ"
    source: https://github.com/sharkpp/fuel-language-pack-ja
    download: https://github.com/sharkpp/fuel-language-pack-ja/archive/master.zip
    detail: /blog/2013/04/27/fuel-language-pack-ja.html
    description: |-
      FuelPHPに含まれる英語のメッセージの日本語訳を提供します。
      インストールすると Validation クラスで検証に失敗した場合などで 表示されるメッセージが日本語になります。
    tags: [ FuelPHP, php ]
  -
    name: "含んでいるフォルダを開く for サクラエディタ"
    source: https://github.com/sharkpp/sakura-editor-plugin-open-folder
    download: https://github.com/sharkpp/sakura-editor-plugin-text-convert-extension-pack/archive/master.zip
    detail: 
    description: |-
      含んでいるフォルダを開くメニューを追加するサクラエディタ用のプラグインです。
    tags: [ サクラエディタ ]
  -
    name: "Fuel OUI search パッケージ"
    source: https://github.com/sharkpp/fuel-ouisearch
    download: https://github.com/sharkpp/fuel-ldapauth/archive/master.zip
    detail: /blog/2013/03/11/release-ouisearch-fuelphp.html
    description: |-
      IEEE-SA で 公開されている Organizationally Unique Identifier のリストを使い OUI から組織名の取得、あるいは、その逆を行います。
    tags: [ FuelPHP, php ]
  -
    name: "TimestampFreezer"
    source: https://github.com/sharkpp/TimestampFreezer
    download: 
    detail: https://github.com/sharkpp/TimestampFreezer
    description: |-
      このアプリケーションはファイルのタイムスタンプを保存し変更されても元に戻すことができます。
      TimerKeeperの後継となるアプリ。
    tags: [ Windows, Qt ]
  -
    name: "TaskMemGraph"
    img: /images/2013_0519_qtquick2_mac.png
    source: https://github.com/sharkpp/TaskMemGraph
    download: 
    detail: /blog/2013/05/19/qtquick2-taskmemgraph.html
    description: |-
      Windows と Mac でメモリ使用量をプロセス名ごとに集計し表示する QtQuick2 のサンプルアプリです。
    tags: [ Windows, Mac, Qt ]
  -
    name: "ANSIエスケープシーケンスエミュレータ"
    img: /images/2013_0310_aese_after.png
    source: https://github.com/sharkpp/AnsiEscapeSequencesEmulator
    download: /files/aese_20130310_r2402.zip
    detail: /blog/2013/03/10/aese-command.html
    description: |-
      コマンドプロンプトで ANSI エスケープシーケンスを再現するプログラムです。
    tags: [ Windows ]
  -
    name: "Fuel LDAP authentication パッケージ"
    source: https://github.com/sharkpp/fuel-ldapauth
    download: https://github.com/sharkpp/fuel-ldapauth/archive/master.zip
    detail: 
    description: |-
      FuelPHP 標準の認証パッケージを拡張し LDAP 認証機能を追加します。
    tags: [ FuelPHP, php ]
  -
    name: "アセンブリ命令長計算取得ライブラリ"
    source: https://github.com/sharkpp/instructionLength
    download: https://github.com/sharkpp/instructionLength/archive/master.zip
    detail: 
    description: |-
      x86 のみ対応のアセンブリ命令長計算取得ライブラリです。
      バイト列を与えると命令長を返してくれます。
    tags: [ C++ ]
  -
    name: "サクラエディタ用 Hot Soup Processer 開発サポートプラグイン"
    source: https://github.com/sharkpp/sakura-editor-plugin-hspde
    download: https://github.com/sharkpp/sakura-editor-plugin-hspde/archive/master.zip
    detail: 
    description: |-
      Hot Soup Processer の開発をサポートするサクラエディタ用のプラグインです。
      アウトライン解析とキーワードヘルプ機能ができるようになります。
    tags: [ サクラエディタ, HSP ]
  -
    name: "SetSysColor API サンプル表示スクリプト"
    img: /images/2010_0429_sample_SetSysColor.gif
    source: /files/sample_SetSysColor.hsp
    detail: /blog/2010/04/29/made-sample-display-tool.html
    description: |-
      昔々に作ったサンプル表示スクリプト。
    tags: [ Windows, HSP ]
  -
    name: "dirinfo命令サンプル表示スクリプト"
    img: /images/2010_0429_sample_dirinfo.gif
    source: /files/sample_dirinfo.hsp
    detail: /blog/2010/04/29/made-sample-display-tool.html
    description: |-
      昔々に作ったサンプル表示スクリプト。
    tags: [ Windows, HSP ]
  -
    name: "マウスカーソル サンプル表示スクリプト"
    img: /images/2010_0429_sample_Cursor.gif
    source: /files/sample_Cursor.hsp
    detail: /blog/2010/04/29/made-sample-display-tool.html
    description: |-
      昔々に作ったサンプル表示スクリプト。
    tags: [ Windows, HSP ]
  -
    name: "クールなメニュー表示モジュール"
    img: /images/2011_0629_coolmenu.png
    download: /files/20110530_0034_coolmenu.zip
    detail: /blog/2011/06/29/hsp-cool-menu.html
    description: |-
      MS Office等でよく見かけるアイコン付き＆影付きメニューを生成できるHSPのモジュール。
    tags: [ HSP ]
  -
    name: "point指定font命令モジュール"
    img: /images/2011_0629_pt_font.png
    download: /files/pt_font.as
    detail: /blog/2011/06/29/hsp-point-size-font.html
    description: |-
      ポイント指定でフォントを生成するモジュールです。
    tags: [ HSP ]
  -
    name: "サクラエディタ用 PHP 用強調キーワード・キーワードヘルプファイル"
    source: https://github.com/sharkpp/sakura-editor-keyword-php
    download: https://github.com/sharkpp/sakura-editor-keyword-php/archive/master.zip
    detail: /blog/2009/03/08/sakura-editor-php-keyword.html
    description: |-
      サクラエディタ用のPHP用強調キーワード・キーワードヘルプファイル
    tags: [ サクラエディタ, php ]
  -
    name: "難読化＆独自スクランブル ツール"
    download: /hsp/tool/yabuinu-0.0.1.0.zip
    detail: /blog/2009/09/30/hsp-yabuinu.html
    description: |-
      HSP3用のオブジェクト難読化＆独自スクランブルツールです。
    tags: [ HSP ]
  -
    name: "pcbnet2 改変版"
    download: /files/pcbnet2_unofficial_20080906.zip
    detail: /blog/2008/09/06/hsp-pcbnet2.html
    description: |-
      pcbnet2の再配布およびバグ修正などをしています。
    tags: [ HSP, HSPプラグイン ]
  -
    name: "pcbnet2 付属サンプルのHSP3対応修正"
    download: /files/pcbnet2_sample_hsp3_fix_20080821.zip
    detail: /blog/2008/08/20/hsp-pcbnet2-sample-hsp3-fix.html
    description: |-
      pcbnet2に付属のサンプルはHSP2の書式で書かれているのでこれをHSP3で実行できるように修正。
    tags: [ HSP, HSPプラグイン ]
  -
    name: "HSP3オブジェクト難読化ツール"
    download: /files/hsp3obfus101.zip
    detail: /blog/2008/08/15/hsp-hsp3obfus.html
    description: |-
      HSP 3.1用のオブジェクト難読化ツールです。
    tags: [ HSP ]
  -
    name: "memfile.hpi"
    download: /files/memfile001.zip
    detail: /blog/2008/08/15/hsp-memfile-hpi.html
    description: |-
      HSP 3.1以降用のファイル読み込みフックプラグインです。
      プラグインやDLLが行うファイルの読み込みをフックして実際のデータの読み込みをメモリ上から行うようにするプラグインです。
    tags: [ HSP, HSPプラグイン ]
  -
    name: "PuTTY command line interface proxy for TeraTerm"
    download: /files/PuTTYdummy-v0.1.0.1.zip
    detail: /blog/2009/07/24/puttydummy.html
    description: |-
      WinSCP の PuTTY 呼び出しボタンで TeraTerm を呼び出せるようにする、中継アプリです。
    tags: [ Windows ]
  -
    name: "Wave to Midi on EasyMusicAnalysis"
    img: /images/2008_0721_w2m_ema.jpg
    download: /files/w2m_ema.lzh
    detail: /blog/2008/07/21/w2m-ema.html
    description: |-
      EasyMusicAnalysis のフロントエンドとなり、Wave形式ファイルからの Midi ファイル作成を支援するソフトです。
    tags: [ Windows ]
  -
    name: "QEmu Launcher"
    img: /images/2008_0721_qemul.jpg
    download: http://www.vector.co.jp/soft/win95/util/se340805.html
    detail: /blog/2008/07/21/qemul.html
    description: |-
      QEMU の実行や設定をGUIで出来るフロントエンドです。
    tags: [ Windows, QEMU ]
  -
    name: "TimeKeeper"
    img: /images/2008_0721_tmkeeper.jpg
    download: /files/tmkp001a.lzh
    detail: /blog/2008/07/21/timekeep.html
    description: |-
      ファイルの日時を一時的に保存して、他のソフトで編集した後で日時をもとに戻すソフトです。
      TimestampFreezerが後継アプリです。
    tags: [ Windows ]
  -
    name: "sendclip"
    download: /files/sclp001d.lzh
    detail: /blog/2008/07/21/sendclipboard.html
    description: |-
      画像を右クリックで、クリップボードに送流ことができるツールです。
      サポートする画像は Susie プラグインで拡張できます。
    tags: [ Windows, Susie ]
  -
    name: "KillTime"
    download: /files/ktime008a.lzh
    detail: /blog/2008/07/21/killtime.html
    description: |-
      他のアプリケーションの起動を遅らせるソフトです。
    tags: [ Windows ]
  -
    name: "Project-μ Bitmap to DIB Filter"
    download: /files/ifktm001.lzh
    detail: /blog/2008/07/21/susie-ifktmkr.html
    description: |-
      Project-μ形式の BMPファイルを読み込む機能を追加するプラグインです。
    tags: [ Windows, Susie ]
  -
    name: "D-Angel Archive extract plug-in"
    download: /files/axda003.lzh
    detail: /blog/2008/07/21/susie-axdangel.html
    description: |-
      D-Angel 形式のアーカイブファイルを読み込む機能を追加するプラグインです。
    tags: [ Windows, Susie ]
  -
    name: "Adv's extract plug-in"
    download: /files/axadv001.lzh
    detail: /blog/2008/07/21/susie-axadvs.html
    description: |-
      『Adv'S』のアーカイブファイルを読み込む機能を追加するプラグインです。
    tags: [ Windows, Susie ]
  -
    name: "KiSS CEL to DIB Filter"
    download: /files/ifcl003a.lzh
    detail: /blog/2008/07/21/susie-ifcel.html
    description: |-
      KISSのCELファイルを読み込む機能を追加するプラグインです。
    tags: [ Windows, Susie ]
  -
    name: "KiSS CEL Export Library"
    download: /files/exks001c.lzh
    detail: /blog/2008/07/21/abc-exkiss.html
    description: |-
      A to B Converter で KISSの CELファイルの出力機能を追加するプラグインです。
    tags: [ Windows, A to B Converter ]

---

{% block content_wrapper %}
{{ parent() }}

{% set tags = {} %}
{% for product in page.products %}{% for v in product.tags %}{% set tags = tags | merge({(v):v}) %}{% endfor %}{% endfor %}

<div>
  <i style="line-height: 30px; height: 30px;" class="fa fa-tags fa-lg pull-left"></i>
  <div id="tags" style="margin-left: 30px;">
{% for tag in tags %}
    <button style="margin-bottom: 5px;" class="btn btn-default btn-sm" type="button" data-filter="{{ tag }}">{{ tag }}</button>&nbsp;
{% endfor %}
  </div>
</div>

<div>
    <div id="products-content" class="tiles-wrap animated">
        
{% for product in page.products %}
<div class="panel panel-default" style="width: 210px;" data-filter-class='["{{ product.tags | join('","') | raw }}"]'>
  <div class="panel-heading">
{% if product.detail %}
    <h3 class="panel-title"><a style="color: #337ab7;" href="{{ product.detail }}">{{ product.name }}</a></h3>
{% else %}
    <h3 class="panel-title">{{ product.name }}</h3>
{% endif %}
  </div>
  <div class="panel-body">
{% if product.img %}
    <img src="{{ product.img }}" class="img-thumbnail">
{% endif %}
    <p style="padding-bottom: 5px; border-bottom: 1px dashed #999;">{{ product.description }}</p>
    <ul class="fa-ul" style="margin-left: 2em; margin-bottom: -5px;">
{% if product.tags %}
      <li><i class="fa-li fa fa-tag"></i>
{% for tag in product.tags %}
        <a href="{{ site.url }}/blog/tags/{{ tag }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
{% endfor %}
      </li>
{% endif %}
{% if product.source %}
      <li><i class="fa-li fa fa-github"></i> <a href="{{ product.source }}">ソースコード</a></li>
{%   endif %}
{% if product.download %}
      <li><i class="fa-li fa fa-download"></i> <a href="{{ product.download }}">ダウンロード</a></li>
{% endif %}
{% if product.install %}
      <li><i class="fa-li fa fa-bolt"></i> <a href="{{ product.install }}">インストール</a></li>
{% endif %}
    </ul>
  </div>
</div>&nbsp;
{% endfor %}

  </div>
</div>

{% endblock %}

{% block head_styles %}
{{ parent() }}
    <link href="{{ site.url }}/css/wookmark.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block scripts_after %}
{{ parent() }}
        <script src="{{ site.url }}/assets/Wookmark-jQuery/wookmark.min.js"></script>
        <script src="{{ site.url }}/assets/imagesloaded/imagesloaded.pkgd.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function(){
                var wookmark;

                imagesLoaded('#products-content', function() {
                    wookmark = new Wookmark('#products-content');

                    var $filters = $('#tags button');

                    function onClickFilter(e) {
                        var $item = $(e.currentTarget),
                            activeFilters = [],
                            filterType = $item.data('filter');

                        if (filterType === 'all') {
                            $filters.removeClass('btn-default');
                            $filters.toggleClass('btn-primary');
                        } else {
                            $item.toggleClass('btn-default');
                            $item.toggleClass('btn-primary');
                            $filters.filter('.btn-primary').each(function() {
                                activeFilters.push($(this).data('filter'));
                            });
                        }

                        wookmark.filter(activeFilters, 'or');
                    }

                    $('#tags').on('click.wookmark-filter', 'button', onClickFilter);
                });
          });
        </script>
{% endblock %}
