---
layout: default
title: プロフィール
permalink: profile/
date: 2015-05-01 00:00
accounts:
  -
    caption: "Twitter"
    url: https://twitter.com/sharkpp
    icon: fa fa-twitter
  -
    caption: "GitHub"
    url: https://github.com/sharkpp
    icon: fa fa-github
  -
    caption: "GreasyFork"
    url: https://greasyfork.org/ja/users/5799-sharkpp
    icon: icon-greasyfork-alt
  -
    caption: "Packagist"
    url: https://packagist.org/users/sharkpp/
    icon: fa fa-dropbox
  -
    caption: "Chef Supermarket"
    url: https://supermarket.chef.io/users/sharkpp
    icon: icon-chef
  -
    caption: "Travis CI"
    url: https://travis-ci.org/profile/sharkpp
    icon: icon-travis-ci-square
  -
    caption: "Tumblr"
    url: http://sharkpp.tumblr.com/
    icon: fa fa-tumblr
  -
    caption: "Vector"
    url: http://www.vector.co.jp/vpack/browse/person/an038154.html
    icon: icon-vector-face
  -
    caption: "Pastebin.com"
    url: http://pastebin.com/u/sharkpp
    icon: "fa fa-file-text-o fa-rotate-180"
  -
    caption: "codepad"
    url: http://codepad.org/users/sharkpp
    icon: fa fa-code
  -
    caption: "codetter"
    url: http://codetter.com/?tag=sharkpp
    icon: fa fa-code
#  -
#    caption: "HSP部屋(β)"
#    url: http://hsproom.me/user/view/?u=7
#    icon: fa fa-file-o
  -
    caption: "はてな"
    url: http://profile.hatena.ne.jp/sharkpp/
    icon: icon-hatena
  -
    caption: "twilog"
    url: http://twilog.org/sharkpp
    icon: fa fa-twitter
  -
    caption: "Bitly."
    url: https://bitly.com/u/sharkpp
    icon: icon-bitly
  -
    caption: "youtube"
    url: http://www.youtube.com/user/sharkpp1
    icon: fa fa-youtube
#  -
#    caption: "slideshare"
#    url: http://www.slideshare.net/sharkpp
#    icon: fa fa-slideshare
  -
    caption: "Instagram"
    url: https://instagram.com/sharkpp/
    icon: fa fa-instagram
  -
    caption: "pixiv"
    url: http://pixiv.me/sharkpp
    icon: icon-pixiv-square
#  -
#    caption: "TINAMI"
#    url: http://www.tinami.com/profile/128967
#    icon: icon-tinami
  -
    caption: "DeviantArt"
    url: http://sharkpp.deviantart.com/
    icon: fa fa-deviantart
  -
    caption: "Gravatar"
    url: http://ja.gravatar.com/sharkpp
    icon: icon-gravatar
#  -
#    caption: "about.me"
#    url: http://about.me/sharkpp
#    icon: fa fa-square
#  -
#    caption: "jsdo.it"
#    url: http://jsdo.it/sharkpp
#    icon:  fa-code
#  -
#    caption: "Codetag"
#    url: http://codetag.me/sharkpp/
#    icon: fa fa-square
#  -
#    caption: "coderwall.com"
#    url: https://coderwall.com/sharkpp
#    icon: fa fa-square
#  -
#    caption: "Uptimer"
#    url: https://uptimer.at/http://www.sharkpp.net/
#    icon: fa fa-square

---

{% block head_styles %}
{{ parent() }}
        <link href="{{ site.url }}/assets/css/extrabrands.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content_wrapper %}
{{ parent() }}
{% for account in page.accounts %}
<a href="{{ account.url }}" class="btn btn-default btn-lg" role="button" style="margin-bottom: 5px">
    <span class="{{ account.icon }} fa-lg"></span> {{ account.caption }}
</a>
{% endfor %}
{% endblock %}
