Redirect permanent /pokecom/pclink.html                                http://www.sharkpp.net/blog/categories/%E3%83%9D%E3%82%B1%E3%82%B3%E3%83%B3%E3%83%AA%E3%83%B3%E3%82%AF
Redirect permanent /junk/sakura-editor.html                            http://www.sharkpp.net/blog/categories/%E3%82%B5%E3%82%AF%E3%83%A9%E3%82%A8%E3%83%87%E3%82%A3%E3%82%BF
Redirect permanent /pokecom/lecture.html                               http://www.sharkpp.net/blog/categories/%E3%83%9D%E3%82%B1%E3%82%B3%E3%83%B3%E8%AC%9B%E5%BA%A7
Redirect permanent /gallery/icon.html                                  http://www.sharkpp.net/graffiti
Redirect permanent /junk/spal.html                                     http://www.sharkpp.net/blog/categories/SpoilerAL
Redirect permanent /hsp/plugin.html                                    http://www.sharkpp.net/blog/categories/HSP%E3%83%97%E3%83%A9%E3%82%B0%E3%82%A4%E3%83%B3
Redirect permanent /pokecom/program.html                               http://www.sharkpp.net/blog/categories/%E3%83%9D%E3%82%B1%E3%82%B3%E3%83%B3%E7%94%A8%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%A0
Redirect permanent /pokecom.html                                       http://www.sharkpp.net/blog/categories/%E3%83%9D%E3%82%B1%E3%82%B3%E3%83%B3
Redirect permanent /php.html                                           http://www.sharkpp.net/blog/categories/php
Redirect permanent /junk/uwsc.html                                     http://www.sharkpp.net/blog/categories/uwsc
Redirect permanent /junk.html                                          http://www.sharkpp.net/blog/categories/%E3%81%8C%E3%82%89%E3%81%8F%E3%81%9F
Redirect permanent /junk/patch.html                                    http://www.sharkpp.net/blog/categories/%E3%83%91%E3%83%83%E3%83%81
Redirect permanent /junk/greasemonkey.html                             http://www.sharkpp.net/blog/categories/greasemonkey
Redirect permanent /soft/game.html                                     http://www.sharkpp.net/blog/categories/%E3%82%BD%E3%83%95%E3%83%88
Redirect permanent /hsp/module.html                                    http://www.sharkpp.net/blog/categories/HSP%E3%83%A2%E3%82%B8%E3%83%A5%E3%83%BC%E3%83%AB
Redirect permanent /pokecom/game.html                                  http://www.sharkpp.net/blog/categories/%E3%83%9D%E3%82%B1%E3%82%B3%E3%83%B3%E7%94%A8%E3%82%B2%E3%83%BC%E3%83%A0
Redirect permanent /gallery.html                                       http://www.sharkpp.net/graffiti
Redirect permanent /gallery/graffiti.html                              http://www.sharkpp.net/graffiti
Redirect permanent /php/frog-cms.html                                  http://www.sharkpp.net/blog/categories/Frog%20CMS
Redirect permanent /hsp.html                                           http://www.sharkpp.net/blog/categories/HSP
Redirect permanent /hsp/tool.html                                      http://www.sharkpp.net/blog/categories/HSP%E7%94%A8%E3%83%84%E3%83%BC%E3%83%AB
Redirect permanent /php/rhaco.html                                     http://www.sharkpp.net/blog/categories/rhaco
Redirect permanent /soft/tool.html                                     http://www.sharkpp.net/blog/categories/%E3%83%84%E3%83%BC%E3%83%AB
Redirect permanent /gallery/scenery.html                               http://www.sharkpp.net/graffiti
Redirect permanent /php/library.html                                   http://www.sharkpp.net/blog/categories/php
Redirect permanent /hsp/openhsp.html                                   http://www.sharkpp.net/blog/categories/HSP
Redirect permanent /hobby.html                                         http://www.sharkpp.net/blog/categories
Redirect permanent /history.html                                       http://www.sharkpp.net/blog
Redirect permanent /history/2004.html                                  http://www.sharkpp.net/blog
Redirect permanent /history/2005.html                                  http://www.sharkpp.net/blog
Redirect permanent /history/2006.html                                  http://www.sharkpp.net/blog
Redirect permanent /history/2007.html                                  http://www.sharkpp.net/blog
Redirect permanent /history/2008.html                                  http://www.sharkpp.net/blog
Redirect permanent /history/2009.html                                  http://www.sharkpp.net/blog
Redirect permanent /history/2010.html                                  http://www.sharkpp.net/blog
Redirect permanent /history/2011.html                                  http://www.sharkpp.net/blog
Redirect permanent /blog/2008/08/11/new_design.html                    http://www.sharkpp.net/blog/2008/08/11/new-design.html
Redirect permanent /blog/2009/10/04/play-with-qt-part-2.html.html      http://www.sharkpp.net/blog/2009/10/04/play-with-qt-part-2.html
Redirect permanent /blog/2010/01/01/happy-new-year-2011.html           http://www.sharkpp.net/blog/2011/01/01/happy-new-year-2011.html
Redirect permanent /blog/2011/07/31/play-with-qt-part-3.html.html      http://www.sharkpp.net/blog/2011/07/31/play-with-qt-part-3.html
Redirect permanent /blog/2011/10/02/play-with-qt-part-4.html.html      http://www.sharkpp.net/blog/2011/10/30/play-with-qt-part-4.html
Redirect permanent /blog/2013/04/28/qt_nagoya_8_and_qtquick2.html      http://www.sharkpp.net/blog/2013/04/28/qt-nagoya-8-and-qtquick2.html
Redirect permanent /blog/2013/05/19/qtquick2_taskmemgraph.html         http://www.sharkpp.net/blog/2013/05/19/qtquick2-taskmemgraph.html
Redirect permanent /blog/2013/07/13/qt_nagoya_9.html                   http://www.sharkpp.net/blog/2013/07/13/qt-nagoya-9.html
Redirect permanent /blog/2013/08/11/qt_2_tokyo.html                    http://www.sharkpp.net/blog/2013/08/11/qt-2-tokyo.html
Redirect permanent /blog/2013/10/20/qt_nagoya_10.html                  http://www.sharkpp.net/blog/2013/10/20/qt-nagoya-10.html
Redirect permanent /blog/2013/11/03/win81preview_to_win81_upgrade_store_app_data_restore.html http://www.sharkpp.net/blog/2013/11/03/win81preview-to-win81-upgrade-store-app-data-restore.html
Redirect permanent /blog/2014/01/25/qt_nagoya_11.html                  http://www.sharkpp.net/blog/2014/01/25/qt-nagoya-11.html
Redirect permanent /blog/2014/04/15/ruby-1-9-3_install_for_mac_10_8.html http://www.sharkpp.net/blog/2014/04/15/ruby-1-9-3-install-for-mac-10-8.html
Redirect permanent /hsp/HSP-program-contest-summary.html               http://www.sharkpp.net/blog/2010/12/12/HSP-program-contest-summary.html
Redirect permanent /hsp/module/cool-menu.html                          http://www.sharkpp.net/blog/2011/06/29/hsp-cool-menu.html
Redirect permanent /hsp/module/location-module.html                    http://www.sharkpp.net/blog/2011/06/29/hsp-location-module.html
Redirect permanent /hsp/module/point-size-font.html                    http://www.sharkpp.net/blog/2011/06/29/hsp-point-size-font.html
Redirect permanent /hsp/openhsp/nightly.html                           http://www.sharkpp.net/blog/2009/06/14/openhsp-nightly.html
Redirect permanent /hsp/pcbsoft.html                                   http://www.sharkpp.net/blog/2008/09/06/pcbsoft.html
Redirect permanent /hsp/plugin/memfile-hpi.html                        http://www.sharkpp.net/blog/2008/08/15/hsp-memfile-hpi.html
Redirect permanent /hsp/plugin/pcbnet2.html                            http://www.sharkpp.net/blog/2008/09/06/hsp-pcbnet2.html
Redirect permanent /hsp/plugin/pcbnet2_sample_hsp3_fix.html            http://www.sharkpp.net/blog/2008/08/20/hsp-pcbnet2-sample-hsp3-fix.html
Redirect permanent /hsp/tool/hsp3obfus.html                            http://www.sharkpp.net/blog/2008/08/15/hsp-hsp3obfus.html
Redirect permanent /hsp/tool/yabuinu.html                              http://www.sharkpp.net/blog/2009/09/30/hsp-yabuinu.html
Redirect permanent /junk/greasemonkey/add_backup_link_for_pukiwiki.html http://www.sharkpp.net/blog/2008/09/09/greasemonkey-add-backup-link-for-pukiwiki.html
Redirect permanent /junk/greasemonkey/doxygen_jp_sample_redirect.html  http://www.sharkpp.net/blog/2008/09/09/greasemonkey-doxygen-jp-sample-redirect.html
Redirect permanent /junk/greasemonkey/gigazine_auto_continue.html      http://www.sharkpp.net/blog/2008/09/09/greasemonkey-gigazine-auto-continue.html
Redirect permanent /junk/greasemonkey/google-trends-hot-searches-insert-graph.html http://www.sharkpp.net/blog/2010/01/05/greasemonkey-google-trends-hot-searches-insert-graph.html
Redirect permanent /junk/greasemonkey/google_enlarge_result.html       http://www.sharkpp.net/blog/2008/09/09/greasemonkey-google-enlarge-result.html
Redirect permanent /junk/greasemonkey/google_expand_find_box.html      http://www.sharkpp.net/blog/2008/09/09/greasemonkey-google-expand-find-box.html
Redirect permanent /junk/greasemonkey/hsp3bbs_ip_display.html          http://www.sharkpp.net/blog/2008/09/09/greasemonkey-hsp3bbs-ip-display.html
Redirect permanent /junk/greasemonkey/hspcontest_2008_logo_change.html http://www.sharkpp.net/blog/2008/09/09/greasemonkey-hspcontest-2008-logo-change.html
Redirect permanent /junk/greasemonkey/slashdot_small_font.html         http://www.sharkpp.net/blog/2008/09/09/greasemonkey-slashdot-small-font.html
Redirect permanent /junk/greasemonkey/tumblr-easily-modify-publishing.html http://www.sharkpp.net/blog/2009/07/19/greasemonkey-tumblr-easily-modify-publishing.html
Redirect permanent /junk/greasemonkey/tumblr-popup-editor.html         http://www.sharkpp.net/blog/2009/07/19/greasemonkey-tumblr-popup-editor.html
Redirect permanent /junk/greasemonkey/vector_download_info_skip.html   http://www.sharkpp.net/blog/2008/09/09/greasemonkey-vector-download-info-skip.html
Redirect permanent /junk/greasemonkey/wide-style-for-mediawiki.html    http://www.sharkpp.net/blog/2010/03/28/greasemonkey-wide-style-for-mediawiki.html
Redirect permanent /junk/patch/cpcache.html                            http://www.sharkpp.net/blog/2008/08/10/patch-cpcache.html
Redirect permanent /junk/patch/iconshop.html                           http://www.sharkpp.net/blog/2008/08/10/patch-iconshop.html
Redirect permanent /junk/patch/pusame.html                             http://www.sharkpp.net/blog/2008/08/10/patch-pusame.html
Redirect permanent /junk/patch/vaporcd.html                            http://www.sharkpp.net/blog/2008/08/10/patch-vaporcd.html
Redirect permanent /junk/patch/vfic.html                               http://www.sharkpp.net/blog/2008/08/10/patch-vfic.html
Redirect permanent /junk/patch/wkiss.html                              http://www.sharkpp.net/blog/2008/08/10/patch-wkiss.html
Redirect permanent /junk/sakura-editor/php-keyword.html                http://www.sharkpp.net/blog/2009/03/08/sakura-editor-php-keyword.html
Redirect permanent /junk/spal/calc01.html                              http://www.sharkpp.net/blog/2008/08/09/spal-calc01.html
Redirect permanent /junk/spal/rigle.html                               http://www.sharkpp.net/blog/2008/08/09/spal-rigle.html
Redirect permanent /junk/uwsc/alcut.html                               http://www.sharkpp.net/blog/2008/08/09/uwsc-alcut.html
Redirect permanent /junk/uwsc/mogura.html                              http://www.sharkpp.net/blog/2008/08/09/uwsc-mogura.html
Redirect permanent /junk/uwsc/torigame.html                            http://www.sharkpp.net/blog/2008/08/09/uwsc-torigame.html
Redirect permanent /link/hsp.html                                      http://www.sharkpp.net/blog/2008/08/10/link-hsp.html
Redirect permanent /link/misc.html                                     http://www.sharkpp.net/blog/2008/08/10/link-misc.html
Redirect permanent /link/pokecom.html                                  http://www.sharkpp.net/blog/2008/08/10/link-pokecom.html
Redirect permanent /notify.html                                        http://www.sharkpp.net/blog/1970/01/01/notify.html
Redirect permanent /php/frog-cms/import-export-plugin.html             http://www.sharkpp.net/blog/2008/08/15/frog-cms-import-export-plugin.html
Redirect permanent /php/frog-cms/ja_message.html                       http://www.sharkpp.net/blog/2008/08/15/frog-cms-ja-message.html
Redirect permanent /php/frog-cms/snippet_paster.html                   http://www.sharkpp.net/blog/2009/03/10/frog-cms-snippet-paster.html
Redirect permanent /php/frog-cms/tag_assist.html                       http://www.sharkpp.net/blog/2009/06/10/frog-cms-tag-assist.html
Redirect permanent /php/frog-cms/trackback-plugin.html                 http://www.sharkpp.net/blog/2008/09/08/frog-cms-trackback-plugin.html
Redirect permanent /php/library/gifcat.html                            http://www.sharkpp.net/blog/2008/08/06/gifcat.html
Redirect permanent /php/library/rss.html                               http://www.sharkpp.net/blog/2008/08/06/rss.html
Redirect permanent /php/rhaco/how-to-use-rhaco2.html                   http://www.sharkpp.net/blog/2009/02/01/rhaco-how-to-use-rhaco2.html
Redirect permanent /php/rhaco/template-syntax-memo.html                http://www.sharkpp.net/blog/2009/01/10/rhaco-template-syntax-memo.html
Redirect permanent /pokecom/game/bb.html                               http://www.sharkpp.net/blog/2008/07/21/pokecom-game-bb.html
Redirect permanent /pokecom/game/escape.html                           http://www.sharkpp.net/blog/2008/07/20/pokecom-game-escape.html
Redirect permanent /pokecom/game/janken.html                           http://www.sharkpp.net/blog/2008/07/20/pokecom-game-janken.html
Redirect permanent /pokecom/game/keyhiter.html                         http://www.sharkpp.net/blog/2008/07/20/pokecom-game-keyhiter.html
Redirect permanent /pokecom/game/maze.html                             http://www.sharkpp.net/blog/2008/07/21/pokecom-game-maze.html
Redirect permanent /pokecom/game/patapata.html                         http://www.sharkpp.net/blog/2008/07/21/pokecom-game-patapata.html
Redirect permanent /pokecom/game/poyopoyo.html                         http://www.sharkpp.net/blog/2008/07/20/pokecom-game-poyopoyo.html
Redirect permanent /pokecom/lecture/01_key_input.html                  http://www.sharkpp.net/blog/2008/07/20/pokecom-lecture-01-key-input.html
Redirect permanent /pokecom/lecture/02_file_size_compact.html          http://www.sharkpp.net/blog/2008/07/20/pokecom-lecture-02-file-size-compact.html
Redirect permanent /pokecom/lecture/03_large_size_program_run.html     http://www.sharkpp.net/blog/2008/07/20/pokecom-lecture-03-large-size-program-run.html
Redirect permanent /pokecom/pcg850v.html                               http://www.sharkpp.net/blog/2008/07/20/pokecom-pcg850v.html
Redirect permanent /pokecom/pcg850vs.html                              http://www.sharkpp.net/blog/2009/03/29/pokecom-pcg850vs.html
Redirect permanent /pokecom/pclink/casio.html                          http://www.sharkpp.net/blog/2008/08/14/pokecom-link-casio.html
Redirect permanent /pokecom/pclink/sharp-1xxx-series.html              http://www.sharkpp.net/blog/2008/08/14/pokecom-link-sharp-1xxx-series.html
Redirect permanent /pokecom/pclink/sharp-other.html                    http://www.sharkpp.net/blog/2008/08/14/pokecom-link-sharp-other.html
Redirect permanent /pokecom/pclink/sharp-pc-e-series.html              http://www.sharkpp.net/blog/2008/08/14/pokecom-link-sharp-pc-e-series.html
Redirect permanent /pokecom/pclink/sharp-pc-g-series.html              http://www.sharkpp.net/blog/2008/08/14/pokecom-link-sharp-pc-g-series.html
Redirect permanent /pokecom/program/inkey_h.html                       http://www.sharkpp.net/blog/2008/07/20/pokecom-program-inkey-h.html
Redirect permanent /pokecom/program/rand_h.html                        http://www.sharkpp.net/blog/2008/07/20/pokecom-program-rand-h.html
Redirect permanent /soft/abc/exkiss.html                               http://www.sharkpp.net/blog/2008/07/21/abc-exkiss.html
Redirect permanent /soft/cotton/chenc.html                             http://www.sharkpp.net/blog/2009/04/12/cotton-chenc.html
Redirect permanent /soft/game/atomscan.html                            http://www.sharkpp.net/blog/2008/07/21/atomscan.html
Redirect permanent /soft/game/mogura.html                              http://www.sharkpp.net/blog/2008/07/21/mogura.html
Redirect permanent /soft/susie/axadvs.html                             http://www.sharkpp.net/blog/2008/07/21/susie-axadvs.html
Redirect permanent /soft/susie/axdangel.html                           http://www.sharkpp.net/blog/2008/07/21/susie-axdangel.html
Redirect permanent /soft/susie/ifcel.html                              http://www.sharkpp.net/blog/2008/07/21/susie-ifcel.html
Redirect permanent /soft/susie/ifktmkr.html                            http://www.sharkpp.net/blog/2008/07/21/susie-ifktmkr.html
Redirect permanent /soft/tool/joya_no_kane.html                        http://www.sharkpp.net/blog/2011/01/01/joya-no-kane.html
Redirect permanent /soft/tool/killtime.html                            http://www.sharkpp.net/blog/2008/07/21/killtime.html
Redirect permanent /soft/tool/lhaplus-x64-shell-extension.html         http://www.sharkpp.net/blog/2009/08/23/lhaplus-x64-shell-extension.html
Redirect permanent /soft/tool/puttydummy.html                          http://www.sharkpp.net/blog/2009/07/24/puttydummy.html
Redirect permanent /soft/tool/qemul.html                               http://www.sharkpp.net/blog/2008/07/21/qemul.html
Redirect permanent /soft/tool/sendclipboard.html                       http://www.sharkpp.net/blog/2008/07/21/sendclipboard.html
Redirect permanent /soft/tool/timekeep.html                            http://www.sharkpp.net/blog/2008/07/21/timekeep.html
Redirect permanent /soft/tool/w2m_ema.html                             http://www.sharkpp.net/blog/2008/07/21/w2m-ema.html
Redirect permanent /soft/tptool/tpjump.html                            http://www.sharkpp.net/blog/2008/07/21/terapad-tpjump.html
Redirect permanent /soft/tptool/tpkwget.html                           http://www.sharkpp.net/blog/2008/07/21/terapad-tpkwget.html
Redirect permanent /soft/tptool/tpkwhelp.html                          http://www.sharkpp.net/blog/2008/07/21/terapad-tpkwhelp.html
Redirect permanent /soft/tptool/tptemp.html                            http://www.sharkpp.net/blog/2008/07/21/terapad-tptemp.html
