---
layout: default
title: Home
generator: pagination
pagination:
    max_per_page: 3
use:
    - posts
---
{% for post in page.pagination.items %}
    <article class="full-contents">
        <header>
            <h2><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
        </header>
        <div>
            {{ post.blocks.content | preg_replace('!^(.+?)(<h.*)?$!sm', '$1') | raw }}
            {% if post.blocks.content | preg_replace('!^(.+?)(<h.*)?$!sm', '$1') != post.blocks.content %}
                &hellip;&nbsp;<a href="{{ site.url }}{{ post.url }}">続きを見る</a>
            {% endif %}
        </div>
        <hr />
        <footer>
            {% include "post_footer" %}
        </footer>
    </article>
{% endfor %}
<br />
{% if page.pagination.previous_page or page.pagination.next_page %}
    <nav>
        {% if page.pagination.previous_page %}<a href="{{ site.url }}{{ page.pagination.previous_page.url }}">新しい投稿</a>{% endif %}
        {% if page.pagination.previous_page and page.pagination.next_page %} | {% endif %}
        {% if page.pagination.next_page %}<a href="{{ site.url }}{{ page.pagination.next_page.url }}">古い投稿</a>{% endif %}<br />
    </nav>
{% endif %}
