---
layout: default
title: サイトマップ
use:
    - "posts"
    - "statics"
permalink: sitemap.html

---
<h2>サイトマップ</h2>

{% set pages = [] %}
{% set pages = pages | merge([{ url: '/', title: 'Home' }]) %}
{% set pages = pages | merge([{ url: '/blog', title: 'ブログ' }]) %}
{% set pages = pages | merge([{ url: '/blog/categories', title: 'カテゴリ' }]) %}
{% set pages = pages | merge([{ url: '/blog/tags', title: 'タグ' }]) %}
{% for post in data.statics %}{% set pages = pages | merge([post]) %}{% endfor %}
{% for post in data.posts %}{% set pages = pages | merge([post]) %}{% endfor %}

<div>
<ul class="fa-ul">
{% for i,post in pages if not(post.url|preg_match('!blog/[0-9]+/[0-9]+/[0-9]+/.+!')) %}
    <li class="fa-li"><i class="fa-solid fa-circle-arrow-right"></i><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
</div>
